In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [16]:
cars = pd.read_csv("quikr_car.csv")

In [17]:
cars.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [18]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [19]:
# TO Remove Non Numeric Records
cars = cars[cars['year'].str.isnumeric()]

In [20]:
# To Covert Object DataType To Interger
cars['year'] = cars['year'].astype(int)

In [21]:
cars = cars[cars['Price']!='Ask For Price']

In [22]:
# Replace the "," To ""(empty Str)
cars['Price'] = cars['Price'].str.replace(",", "")

In [23]:
# To Covert Object DataType To Interger
cars['Price'] = cars['Price'].astype(int)

In [24]:
# Split and Remove "kms", also Replace "," To ""(empty Str)
cars['kms_driven'] = cars['kms_driven'].str.split().str.get(0).str.replace(",", "")

In [25]:
# Remove "Petrol" from cars['kms_driven']
cars = cars[cars['kms_driven']!="Petrol"]

In [26]:
cars['kms_driven'] = cars['kms_driven'].astype(int)

In [27]:
# To take Non Null value "~" works as a Not
cars = cars[~cars['fuel_type'].isna()]

In [28]:
cars['fuel_type'].unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)

In [29]:
cars['name'] = cars['name'].str.split().str.slice(0,3).str.join(" ")

In [30]:
cars = cars.reset_index(drop = True)

In [31]:
cars.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [32]:
cars = cars[cars['Price']<6e6].reset_index(drop=True)

In [33]:
cars.to_csv('cleancars.csv')

In [34]:
cars

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

# Model Building

In [35]:
x = cars.drop(columns='Price')
y = cars['Price']

In [36]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [38]:
one = OneHotEncoder()
one.fit(x[['name', 'company', 'fuel_type']])

OneHotEncoder()

In [39]:
column_trans = make_column_transformer((OneHotEncoder(categories=one.categories_), ['name', 'company', 'fuel_type']), remainder='passthrough')

In [40]:
lr = LinearRegression()

In [41]:
pipe = make_pipeline(column_trans, lr) #To transform and Fit data in same line

In [42]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [43]:
y_pred = pipe.predict(x_test)
y_pred

array([ 330124.70618432,  234952.25661197,  502791.6986315 ,
        248637.32568406,  853883.71309589,  355891.60914464,
         85975.12062868,  248704.46183974,  240863.77349546,
        428253.50254621,  658284.01934882,  297819.46490145,
        173943.18825817,  585080.63684312,  318230.70515358,
        319772.60548774,   89950.17583424,  564095.22911484,
        218527.27024902,  445920.84835301,  262581.287839  ,
        158389.73967616,  279905.53384071,  266763.31606066,
        125419.5871471 ,  352446.01904623,  540545.86948396,
         18543.61644043,   49863.67736323,  755990.79628391,
        186476.61270698,  262595.60488307,  155555.88461222,
        391515.4135294 ,  485180.48242474,  197752.27569006,
        280711.65504912,  240433.94899143,  432330.05782586,
        488532.7824945 ,  567856.29499101,  355757.03993084,
        340004.94191039,  108454.59167567,  265858.03347988,
        266864.32193359,  884126.67772416,  613131.32135081,
        258509.59290278,  374312.53420106,  942601.89865074,
        753557.47345581,  546540.10540362,   92451.55966178,
        234966.09220232,  367722.374533  ,  -60803.49825686,
        339509.60147665,  196187.96148636,  205434.40591455,
        340296.67599421,  462945.7511741 ,  149677.49842171,
        225683.26931472,  271735.27656063,  317927.977153  ,
        264207.27377669,  273165.3515495 ,  490442.29586686,
        598378.22285645,  249266.32621999,  116540.735853  ,
        220097.32410459,  238152.18072334,  264703.54863641,
        284835.03032472,  372466.19845027,   50096.31456152,
       1107847.57211204,  374312.53420106,  180787.13610277,
        246309.47052512,  860233.37973503,  315211.3801208 ,
        411359.36952209,  587640.12922063,  466345.59891623,
        288565.34569935,  225691.98368122,  388053.3282003 ,
        293603.13317821,  860233.37973503,   13296.95110761,
        571426.49264859,  350200.30415161,  220097.32410459,
        690326.56284548, 1551516.87424291,  856348.96295454,
        239848.12218347,  283872.95962182,  266763.31606066,
         81087.72682492,  505027.99056623,  246788.79369377,
        530736.95968332,  233098.53805084,  564848.30042046,
         92023.94451369,  424511.74096987,  392587.42534649,
        566441.83193502,  334772.8956843 ,  140707.29153864,
       1004055.0968023 ,  291015.45816412,  578377.15782661,
        169413.54428399, 1590551.14036713,  -17963.30706588,
         92023.94451369,  392777.91534566,  365860.80687338,
        224439.90172473,  483370.84215499,  474437.74524679,
       1212267.75057941,  263448.20905859, 1891142.57876059,
        216159.34040061,  272331.76039643,  524548.03096854,
        243364.78559832,  500655.69977714,  369382.8676943 ,
        125995.50144651,  319772.60548774,  179636.4948138 ,
        597579.81701747, 1115167.51562187,  539846.66839067,
        224521.66996295,  758651.06058525,  272175.69816156,
        577222.67298313,  525702.51581202,   38760.79946973,
        331122.45257244,  281210.55710749,  530062.92707694,
        263741.61646673,  129602.1027558 ,  263397.39415668,
        320046.92161632,  200580.3738936 ,  215931.796812  ,
        313907.62490357,  246309.47052512,  287517.08196378,
        571127.33538087,  428107.56319083,  504187.56587834,
        265858.03347988])

In [44]:
r2_score(y_test, y_pred)

0.4883963055038234

In [46]:
#To increase the R2 score, we choose the random_state
score =[]
for i in range(2000):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans, lr)
    pipe.fit(x_train, y_train)
    y_pred = pipe.predict(x_test)
    score.append(r2_score(y_test, y_pred))

In [47]:
np.argmax(score)

1262

In [48]:
score[np.argmax(score)]

0.9044805418533226

In [49]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=np.argmax(score))
lr = LinearRegression()
pipe = make_pipeline(column_trans, lr)
pipe.fit(x_train, y_train)
y_pred = pipe.predict(x_test)
r2_score(y_test, y_pred)

0.9044805418533226

In [ ]:
# import pickle
# pickle.dump(pipe, open('LinearRegressionModel.pkl', 'wb'))

# Model Validation

In [50]:
company = input('Enter Company Name : ')
model = input('Enter Car Model : ')
year = input('Enter Purchase Year : ')
Km = input('Enter Kilo Meter : ')
F_type = input('Enter Fuel Type : ')
print('............................................................')
print(f'''Your Entered Details are : 
Company Name : {company}
Car Model : {model}
Year of Purchase : {year}
Driven KM : {Km}
Fuel Type : {F_type}''')

Enter Company Name : Mahindra
Enter Car Model : Mahindra Jeep CL550
Enter Purchase Year : 2010
Enter Kilo Meter : 5800
Enter Fuel Type : Petrol
............................................................
Your Entered Details are :
Company Name : Mahindra
Car Model : Mahindra Jeep CL550
Year of Purchase : 2010
Driven KM : 5800
Fuel Type : Petrol

In [59]:
prediction = pipe.predict(pd.DataFrame([[model, company, year, Km, F_type]], columns=["name", "company", "year", "kms_driven", "fuel_type"]))

In [66]:
prediction = prediction.astype(int)

In [74]:
print(f'Your car predicted price is : {str(prediction)[1:-1]}')

Your car predicted price is : 337456